# Expo
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
API_USAGE.md


# Node
node_modules/
npm-debug.log
yarn-error.log

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Env
.env
.env.local

# Misc
*.log
